<footer class="footer">
  <small>
    <ul>
      <li><%= link_to "About", 'about' %></li>
      <li><a href="mailto:markmiraglia@gmail.com">Email</a>
      <li><a href="http://vimeo.com/rebigulator">Video</a>
    </ul>
  </small>
</footer>
